body, html {
  background-image: url("http://res.cloudinary.com/cremz/image/upload/g_center,q_100/v1477166114/background_z6o0hy.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "Open Sans";
  text-align: center;
}
#img-caption {
  color: black;
  font-family: "Open Sans";
  font-size: 10px;
  text-align: center;
  padding: 10px;
}
.poem {
  color: black;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
}
.bio {
  color: black;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}
.wiki {
  color: black;
  font-family: "Open Sans";
  font-size: 18px;
  text-align: center;
}
.img-responsive {
  display: block;
  margin: auto;
  border-radius: 150%;
}
footer {
  color: black;
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
}
a:link {
  color: silver;
  font-family: "Open Sans";
  font-size: 18px;
}
